.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.resume {
  text-align: left;
}
.header {
  border-bottom: 3px solid black; 
}

.work {
  border-bottom: 3px solid black; 
}

.volunteer {
  border-bottom: 3px solid black; 
}

.education {
  border-bottom: 3px solid black; 
}

.skills {
  border-bottom: 3px solid black; 
}
@media only screen and (min-width: 800px) {
.contact {
  line-height: 50%
}
.workHeading {
  line-height: 50%
}
.educationHeading {
  line-height: 50%
}
}
.row {
  display: flex;
  flex-wrap: wrap
}

.myPic {
  background-color: ivory;
  flex: 25%;
}

div.picStick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px
}

div.navStick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px
}

.blue {
  background-color: ivory;
  flex: 50%;
}

.nav {
  background-color: ivory;
  flex: 25%;
}
